<div class="container">
  <form>
    <label for="">First Name</label>
    <input formControlName="phone" id="phone" name="phone" /><br />

    <label for="">Last Name</label>
    <input formControlName="phone" id="phone" name="phone" /><br />

    <label for="">Email</label>
    <input formControlName="phone" id="phone" name="phone" /><br />

    <label for="">Phone Number</label>
    <input formControlName="phone" id="phone" name="phone" /><br />

    <label for="">Contact Preference</label>
    <div style="margin-left: 20px">
      Email
      <input
        type="radio"
        formControlName="contactPreference"
        name="contactPreference"
        value="email"
      />
      <br />

      Phone
      <input
        type="radio"
        formControlName="contactPreference"
        name="contactPreference"
        value="phone"
      />
      <br />

      Text Message
      <input
        type="radio"
        formControlName="contactPreference"
        name="contactPreference"
        value="text"
      />
    </div>
  </form>
</div>
