<div class="container">
  <form #formId="ngForm" (ngSubmit)="OnSubmit()" [formGroup]="form">
    <label for="">First Name</label>
    <input formControlName="firstname" id="phone" name="phone" /><br>
    <small
      class="err_msg"
      *ngIf="firstname && formId.submitted && firstname.invalid"
      >Please Enter a valid First Name.</small
    >
    <br />

    <label for="">Last Name</label>
    <input formControlName="lastname" id="phone" name="phone" /><br>
    <small
      class="err_msg"
      *ngIf="lastname && formId.submitted && lastname.invalid"
      >Please Enter a valid Last Name.</small
    >
    <br />

    <label for="">Email</label>
    <input formControlName="email" id="phone" name="phone" /><br>
    <small
      class="err_msg"
      *ngIf="email && formId.submitted && email.invalid"
      >Please Enter a valid Email.</small
    ><br />

    <label for="">Phone Number</label>
    <input formControlName="phone" id="phone" name="phone" /><br>
    <small
      class="err_msg"
      *ngIf="phone && formId.submitted && phone.invalid"
      >Phone Number is required.</small
    >
    <br />

    <label for="">Contact Preference</label>
    <div style="margin-left: 20px">
      Email
      <input
        type="radio"
        formControlName="contactPreference"
        name="contactPreference"
        value="email"
      />
      <br />

      Phone
      <input
        type="radio"
        formControlName="contactPreference"
        name="contactPreference"
        value="phone"
      />
      <br />

      Text Message
      <input
        type="radio"
        formControlName="contactPreference"
        name="contactPreference"
        value="text"
      />
    </div>
    <br />

    <button type="submit">Submit</button>
  </form>
</div>
