<!-- <div class="container">
  <div class="row">
    <div class="col-md-9">
      <label for="">Phone Num:</label>
      <input
        type="text"
        ng2TelInput
        [ng2TelInputOptions]="{ initialCountry: 'in' }"
        (hasError)="hasError($event)"
        (ng2TelOutput)="getNumber($event)"
        (intlTelInputObject)="telInputObject($event)"
        (countryChange)="onCountryChange($event)"
      />
    </div>
  </div>
</div> -->

<input type="tel" #cCode (change)="onCountryChange($event)" id="phone">

<p>{{cCode.value}}</p>

